:root {
  --primary-color: #ffe141;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}
#root {
  height: 100vh;
  display: flex;
  background-color: var(--primary-color);
  flex-direction: column;
  align-items: center;
}
form {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;

  gap: 10px;
}
.text {
  background-color: black;

  color: var(--primary-color);
  border: none;
  padding: 10px;
  border-radius: 15px;
}
.submit {
  background-color: black;
  color: var(--primary-color);
  border: none;
  padding: 10px;
  width: 60px;
  border-radius: 15px;
  align-self: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.city {
  font-size: 1.4rem;
  margin-bottom: 27px;
}
.temperature {
  font-size: 11rem;
  font-weight: 400;
}
.data {
  color: var(--primary-color);
  background-color: black;
  font-size: 0.9rem;
  padding: 4px 14px;
  border-radius: 38px;
  margin-bottom: 15px;
}
.weather {
  font-size: 1rem;
}
.C {
  font-size: 120px;
  position: relative;
  top: -37px;
  font-weight: 600;
}
.container-info {
  gap: 39px;
  padding: 18px;
  display: flex;
  border-radius: 7px;
  background-color: black;
  color: var(--primary-color);
}
.wind-container {
  width: 52px;
  gap: 9px;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.fa-wind {
  font-size: 24px;
}
.wind-mis {
  font-size: 0.8rem;
  margin-bottom: -4px;
}
.wind {
  font-weight: 100;
  font-size: 0.6rem;
}

.hum-container {
  width: 52px;
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: space-between;
}
.fa-droplet {
  font-size: 24px;
}
.hum-num {
  font-size: 0.8rem;
  margin-bottom: -4px;
}
.hum-text {
  font-weight: 100;
  font-size: 0.6rem;
}

.prec-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: space-between;
}
.fa-cloud-rain {
  font-size: 26px;
}
.prec-num {
  font-size: 0.8rem;
  margin-bottom: -4px;
}
.prec-text {
  font-weight: 100;
  font-size: 0.6rem;
}
