main {
  height: 100%;
  /* width: calc(100% - 280px - 361px); */
  width: 600px;
}

/*homebar*/
.homeBar {
  height: 100%;
  border: 0.1px solid #b8b8b84f;
  border-bottom: 0;
  position: sticky;
  top: 0;
  backdrop-filter: blur(10px);

  cursor: pointer;
}

.home {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 15px;
  height: 50px;
  width: 100%;
}
.homeText {
  font-size: 1.3rem;
  font-weight: 600;

  color: var(--color-text);
}
.toggle {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.foryou,
.following {
  display: flex;
  height: 56px;
  width: 50%;
  position: relative;
  color: var(--user-nickname);

  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.following:hover,
.foryou:hover {
  background-color: var(--bg-hover);
}

.active {
  color: var(--color-text);
  font-weight: 700;
}

.active::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 15px;
  background-color: var(--color-secondary);
  height: 4px;
  width: 60px;
}
/* end homebar */

/* tweet */
.post {
  padding: 10px;
  display: flex;
  width: 100%;

  border: 0.1px solid #b8b8b84f;
  border-bottom: 0;

  height: 110px;
}
.PfTweet {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}
.form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}
.InputPost {
  padding-top: 8px;
  width: 100%;
  height: 34px;
  font-size: 1.3rem;

  color: var(--color-text);
  background-color: var(--color-bg);
  border: none;
  outline: none;
}
.InputPost::placeholder {
  color: var(--user-nickname);
  opacity: 1;
}
.PostIcons {
  position: absolute;
  bottom: 0;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3px;
}
.imageIcon {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-size: 14px 14px;
  transition: all 0.35s;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../assets/icons/image.svg);
}
.imageIcon:hover,
.gif:hover,
.survey:hover,
.smile:hover,
.calendar:hover {
  background-color: var(--comment-hv);
}
.gif {
  background-size: 18px 19px;
  background-image: url(../assets/icons/gif.svg);
}
.survey {
  background-size: 17px 18px;
  transform: scaleX(-1);
  background-image: url(../assets/icons/survey.svg);
}
.smile {
  background-size: 16px 18px;
  background-image: url(../assets/icons/smile.svg);
}
.calendar {
  background-size: 18px 19px;
  background-image: url(../assets/icons/calendar.svg);
}

.tweetSubmit {
  width: fit-content;
  border-radius: 51px;
  padding: 9px 16px;
  border: none;
  align-self: end;
  background-color: var(--color-secondary);
  color: var(--color-text);
  font-weight: bold;
}
/* users post */
.profilePic {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.container {
  color: var(--color-text);
  display: flex;
  padding: 10px;
  flex-direction: row;
  padding: 13px;
  width: 100%;
  cursor: pointer;
  height: 100%;
  gap: 12px;
  transition: all 0.35s;
  border: 0.1px solid #b8b8b84f;
  border-bottom: 0;
}
.container:hover {
  background-color: rgba(255, 255, 255, 0.03);
}
.leftSide {
  height: fit-content;
  border-radius: 50px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.rightSide {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 7px;
  flex-direction: column;
}

.containerUser {
  position: relative;
  display: flex;
  padding-right: 6px;
  flex-direction: row;
  z-index: -1;
  justify-content: space-between;
  align-items: center;
}
.userTextContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 6px;
  align-items: center;
}
.userNickMain {
  color: var(--user-nickname);
  padding-right: 5px;
}
.userNickMain::after {
  content: "";
  position: relative;
  width: 2px;
  margin: 0px;
  top: -4px;
  left: 5px;
  display: inline-block;
  border-radius: 50%;
  height: 2px;
  background-color: var(--user-nickname);
}

.userNameMain {
  font-weight: bold;
  color: var(--color-text);
}

.date {
  color: var(--user-nickname);
}
.fa-solid.fa-ellipsis {
  color: var(--user-nickname);
}

.postText {
  padding-right: 4%;
  width: 100%;
  height: 100%;
}
.reactionsContainer {
  position: relative;
  color: var(--user-nickname);
  left: -11px;
  font-size: 0.9rem;

  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.iconC {
  display: flex;
  gap: 2px;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 39px;
  height: 38px;
  border-radius: 100%;
  object-fit: contain;
  transition: all 0.35s;
  background-repeat: no-repeat;
  background-position: center center;
}
.comment {
  background-image: url(../assets/icons/comment.svg);
  background-size: 18px 18px;
}
.rt {
  background-image: url(../assets/icons/rt.svg);
  background-size: 19px 19px;
}
.heart {
  background-image: url(../assets/icons/heart.svg);
  background-size: 16px 16px;
}
.visual {
  background-image: url(../assets/icons/visual.svg);
  background-size: 21px 21px;
}
.share {
  background-image: url(../assets/icons/share.svg);
  background-size: 18px 18px;
}

.commentContainer:hover .comment {
  background-color: var(--comment-hv);
  background-image: url(../assets/icons/comment-hv.svg);
}
.commentContainer:hover .commentText {
  color: var(--comment-color);
}
.rtContainer:hover .rtText {
  color: var(--retweet-color);
}
.rtContainer:hover .rt {
  background-image: url(../assets/icons/rt-hv.svg);
  background-color: var(--retweet-hv);
}
.heartContainer:hover .heart {
  background-image: url(../assets/icons/heart-hv.svg);
  background-color: var(--heart-hv);
}
.heartContainer:hover .heartText {
  color: var(--heart-color);
}
.visualContainer:hover .visual {
  background-color: var(--comment-hv);
  background-image: url(../assets/icons/visual-hv.svg);
}
.visualContainer:hover .visualText {
  color: var(--comment-color);
}
.shareContainer:hover .share {
  background-color: var(--comment-hv);
  background-image: url(../assets/icons/share-hv.svg);
}
