nav {
  height: 100vh;
  display: flex;
  position: sticky;
  top: 0;
  flex-direction: column;
  justify-content: space-between;
  width: 270px;
  gap: 5px;

  /* border: 1px solid lightgray; */
}

.logo svg {
  width: 30px;
  height: 30px;
  fill: white;
}
.logo {
  display: flex;
  width: fit-content;
  padding: 13px;
  margin-top: 13px;
  margin-bottom: 4px;
  transition: all 0.5s;
  justify-content: start;
  align-items: center;
}

.wrapperLinks {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;

  flex-direction: column;
  align-items: start;
  margin-bottom: 15px;
}

.select {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 15px;
  gap: 20px;
  margin: 0;
  transition: all 0.35s;
}
.select.active {
  font-weight: bold;
}
.select:hover,
.logo:hover {
  background-color: var(--bg-hover);
  border-radius: 56px;
}

.logo .select.active {
  font-weight: bold;
}

.wrapper {
  width: 100%;
}
li svg {
  fill: var(--color-text);

  width: 30px;
  height: 30px;
}

ul a {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: white;
}
.tweetBtn {
  cursor: pointer;
  font-weight: 600;
  background-color: var(--color-secondary);
  padding: 17px 26px;
  width: 240px;
  align-self: self-start;
  border-radius: 56px;
  border: none;
}
.tweetBtn svg {
  fill: var(--color-text);

  display: none;
  width: 30px;
  height: 30px;
}
.textBtn {
  color: var(--color-text);
  font-size: 1.3rem;
}
.tweetBtn:hover {
  background-color: rgb(26, 140, 216);
}

/* profile */
.profile {
  display: flex;
  border-radius: 50px;
  padding: 12px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  transition: all 0.35s;
  width: 258px;
  margin-bottom: 10px;
}
.profile:hover {
  background-color: var(--bg-hover);
}
.profileText {
  width: 100%;
}
.userName {
  color: var(--color-text);
}
.userNickname {
  font-weight: 100;
  color: var(--user-nickname);
}
.profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.profile svg {
  fill: var(--color-text);
  width: 28px;
  height: 28px;
}

/* //media query */
@media all and (max-width: 1264px) {
  .wrapperLinks {
    align-items: center;
  }
  .textBtn {
    display: none;
  }
  .tweetBtn {
    margin: 0;
    padding: 11px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
  }
  a {
    margin: 0;
    display: none;
  }
  .tweetBtn svg {
    display: flex;
    width: 24px;
    height: 24px;
  }
  nav {
    display: flex;
    align-items: center;
    margin-right: 2%;
    margin-left: 2%;

    min-width: 50px;
    width: 60px;
    justify-content: center;
  }
  a {
    margin: 0;
    display: none;
  }
  .profile {
    width: 100%;

    padding: 10px;
  }
  .profile img {
    object-fit: contain;
    width: 40px;
    height: 40px;
    align-self: center;
    display: flex;
  }
  .profile:hover {
    background-color: var(--bg-hover);
  }

  .userName {
    display: none;
  }
  .userNickname {
    display: none;
  }
  .profile svg {
    display: none;
  }
}
